.popupBox {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 30;
}

.box {
  position: relative;
  width: 70%;
  height: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border-right: 1px solid #999;
  overflow: auto;
  z-index: 5;
}

.closeIcon {
  cursor: pointer;
  position: fixed;
  background: transparent;
  width: 30%;
  right: 0;
  height: 100vh;
  z-index: -1;
}
nav {
  display: grid;
  gap: 20px;
}
nav > li {
  text-align: left;
  padding: 10px 40px;
  background-color: black;
  color: white;
  font-size: 21px;
  transition: all 0.3s;
}
nav > li:hover {
  cursor: pointer;
  background-color: rgb(94, 90, 90);
  transition: all 0.3s;
}
